window {
    background-color: rgba (231, 232, 235, 0.95);
    color: #6f788d
}

/* search entry */
entry {
    background-color: rgba (255, 255, 255, 0.5);
    color: #6f788d
}

button, image {
    background: none;
    border: none;
    color: #6f788d
}

button:hover {
    background-color: rgba (82, 148, 226, 0.75)
}

button:focus {
    background-color: rgba (239, 107, 123, 0.75)
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}
