#bar {
    margin: 30px /* affects top/bottom & left/right alignment */
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #cfd0c2;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px
}

button:hover {
    background-color: rgba (250, 39, 114, 1);
}

button:focus {
    background-color: rgba (54, 175, 144, 1);
}

grid {
    /* e.g. for common background to all buttons */
}
