window {
    background-color: rgba (39, 40, 34, 0.95);
    color: #eeeeee
}

/* search entry */
entry {
    background-color: rgba (0, 0, 0, 0.5)
}

button, image {
    background: none;
    border: none
}

button:hover {
    background-color: rgba (250, 39, 114, 0.75)
}

button:focus {
    background-color: rgba (54, 175, 144, 0.75);
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}
