* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #e7e8eb;
    color: #6f788d;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #6f788d;
}
*/

window#waybar.termite {
    background-color: #e7e8eb;
}

window#waybar.chromium {
    background-color: #e7e8eb;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #6f788d;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #6f788d;
}

#workspaces button.focused {
    background-color: #e7e8eb;
    box-shadow: inset 0 -3px #6f788d;
}

#workspaces button.urgent {
    background-color: #e7e8eb;
}

#mode {
    background-color: #e7e8eb;
    border-bottom: 3px solid #6f788d;
}

#mpris,
#custom-screenshot,
#custom-wf_recorder,
#custom-weather,
#custom-exit,
#custom-notification,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #6f788d;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #e7e8eb;
}

#battery {
    background-color: #e7e8eb;
    color: #6f788d;
}

#battery.charging {
    color: #36af90;
    background-color: #e7e8eb;
}

@keyframes blink {
    to {
        background-color: #e7e8eb;
        color: #e7db75;
    }
}

#battery.critical:not(.charging) {
    background-color: #e7e8eb;
    color: #ef6b7b;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #48483e;
}

#cpu {
    background-color: #e7e8eb;
    color: #6f788d;
}

#memory {
    background-color: #e7e8eb;
}

#backlight {
    background-color: #e7e8eb;
}

#network {
    background-color: #e7e8eb;
}

#network.disconnected {
    color: #ef6b7b;
    background-color: #e7e8eb;
}

#pulseaudio {
    background-color: #e7e8eb;
    color: #6f788d;
}

#pulseaudio.muted {
    color: #ef6b7b;
    background-color: #e7e8eb;
}

#custom-media {
    background-color: #e7e8eb;
    color: #6f788d;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #e7e8eb;
    color: #36af90;
}

#custom-media.custom-vlc {
    background-color: #e7e8eb;
    color: #fe9720;
}

#temperature {
    background-color: #e7e8eb;
    color: #6f788d;
}

#temperature.critical {
    background-color: #e7e8eb;
    color: #ef6b7b;
}

#tray {
    background-color: #e7e8eb;
    color: #6f788d;
}

#idle_inhibitor {
    background-color: #e7e8eb;
    color: #6f788d;
}

#idle_inhibitor.activated {
    background-color: #e7e8eb;
    color: #36af90;
}

#mpd {
    background-color: #e7e8eb;
    color: #6f788d;
}

#mpd.disconnected {
    background-color: #e7e8eb;
    color: #ef6b7b;
}

#mpd.stopped {
    background-color: #e7e8eb;
    color: #fe9720;
}

#mpd.paused {
    background-color: #e7e8eb;
    color: #e7db75;
}

#language {
    background: #e7e8eb;
    color: #6f788d;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#taskbar button {
    background: #e7e8eb;
    color: #6f788d;
}

#taskbar button.active {
    background: #5294E2;
    color: #e7e8eb;
}
